.container__search__input {
    margin: 8px 0;
}

.header__options {
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.header__options:hover {
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    border-right: 2px solid #ff9900;
    border-left: 2px solid #ff9900;
}

.img__container img {
    width: 40px;
}
.container__name__user {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    justify-content: center;
}
