.container__filters__list {
    display: flex;
}
.container__header__items {
    text-align: center;
}
@media (max-width: 390px) {
}
@media (max-width: 600px) {
}

@media (max-width: 960px) {
    .container__filters__list {
        display: block;
        text-align: center;
    }
}
